/* .header-page-profil {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid grey;
}
.header-page-profil img {
  width: 6rem;
  height: auto;
}
.header-page-profil input {
  width: 20rem;
}
.header-page-profil .icons-page-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-page-profil .icons-page-profile img {
  width: 2rem;
  margin-right: 1rem;
}
.header-page-profil .icons-page-profile button{
  background-color: white;
  border: none;
}
.header-page-profil input::placeholder {
  text-align: center;
}
.header-page-profil .icons-page-profile .profile {
  border-radius: 2rem;
  margin-left: 1rem;
} */
