.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid grey;
}
.header img {
  width: 6rem;
  height: auto;
}
.header .header-buttons .sign-up {
  border: none;
  cursor: pointer;
  height: 2rem;
  color: rgb(23, 130, 253);
  background-color: white;
  font-weight: bold;
}
.header .header-buttons button {
  margin-right: 1rem;
}

.header input::placeholder {
  text-align: center;
}
.header input {
  width: 20rem;
}
