.header-password-reset {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-bottom: 2px solid black;
  img {
    width: 6rem;
    height: auto;
    margin-left: 20rem;
  }
}
