.sectiune {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.sectiune .button-post button {
  border: none;
  background-color: white;
  margin-right: 3rem;
}
.sectiune .button-video button {
  border: none;
  background-color: white;
  margin-right: 3rem;
}
.sectiune .button-etichete button {
  border: none;
  background-color: white;
  margin-right: 3rem;
}
