.sectiune {
  display: flex;
  justify-content: center;
}
.sectiune .button-post button {
  border: none;
  background-color: white;
  margin-right: 3rem;
  font-size: 1rem;
  font-family: inherit;
}

.sectiune .button-video button {
  border: none;
  background-color: white;
  margin-right: 3rem;
  font-size: 1rem;
  font-family: inherit;
}

.sectiune .button-etichete button {
  border: none;
  background-color: white;
  margin-right: 3rem;
  font-size: 1rem;
  font-family: inherit;
}
